body {
  font-family: "Noto Sans JP", "Yu Gothic", "Hiragino Sans", sans-serif;
  font-size: 12pt;
  line-height: 1.8;
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20mm;
  margin-right: 20mm;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
  page-break-after: avoid;
  text-align: left;  
  }

h1 {
  font-size: 20pt;
  border-bottom: 2px solid #444;
  padding-bottom: 4px;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

ul, ul li, ol, ol li {
  text-align: left;
}

p {
  text-align: justify;
  margin: 0.8em 0;
}

ul, ol {
  margin: 0.5em 0 0.5em 1.5em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5em 0;
  font-size: 11pt;
}

table, th, td {
  border: 1px solid #555;
  padding: 6px 8px;
}

th {
  background: #f0f0f0;
  font-weight: bold;
}

@page {
  size: A4;
  margin-top: 20mm;
  margin-bottom: 20mm;
  margin-left: 20mm;
  margin-right: 20mm;

  @bottom-center {
    content: counter(page) " / " counter(pages);
    font-size: 10pt;
    color: #666;
  }
}
