@page {
  size: A4;
  margin: 20mm;

  @bottom-center {
    content: counter(page) " / " counter(pages);
    font-size: 10pt;
    color: #666;
  }
}

p {
  orphans: 2;
  widows: 2;
}




.cover {
  margin-top: 40mm;
  text-align: center;
  page-break-after: always;
}

body {
  font-family: "Noto Serif JP", "Yu Mincho", "Hiragino Mincho ProN", serif;
  font-size: 12pt;
  line-height: 1.0 ;
  color: #222;
}